{
    "presets": [
        "module:metro-react-native-babel-preset"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@StyleConstants": "./app/config/styles.js",
                    "@NavigationConstants": "./app/config/navigation.js",
                    "Gruvee": "./app"
                }
            }
        ],
        [
            "dotenv-import",
            {
                "allowUndefined": true
            }
        ]
    ]
}
