{
    "presets": [
        "module:metro-react-native-babel-preset",
        "module:react-native-dotenv"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "root": ["./"],
                "alias": {
                    "@StyleConstants": "./StyleConstants.js",
                    "@NavigationConstants": "./NavigationConstants.js",
                    "@Mock": "./Mock",
                    "Gruvee/*": "./*"
                }
            }
        ]
    ]
}
